<!-- views/partials/header.ejs -->
    <nav id="navbar">
        <a href="/"><img src="images/logo.png" alt="Tri logo" class="logo"></a>      
                
        <ul class="nav_links">
            <li><a href="/destination">kyoto</a></li>
            <li><a href="/destination">beijing</a></li>
            <li><a href="/destination">seoul</a></li>
            <li><a href="/newsletter">newsletter</a></li>
        </ul>

        <p class="login">
            <a href="/create">new destination</a>
        </p>
    </nav>
