<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head %>
</head>
<body>
    <!-- navigation -->
    <header>
        <% include ../partials/header %>
    </header>

    <!-- create page -->
    <!-- action must send to route -->
    <form action="/create" method="post" enctype="multipart/form-data" class="create_page" >
        <input type="text" name="destination_city" id="city_name" class="create_page" placeholder="City">
        <label for="longitude">Longitude:</label>
        <input type="text" name="destination_long" id="longitude" placeholder="##.####">
        <label for="latitdue">Latitude:</label>
        <input type="text" name="destination_lat" id="latitude" placeholder="##.####">
        <textarea name="destination_text" rows="8" cols="80" id="destination_text" class="text-editor" placeholder="Article text"></textarea>  
            <input type="file" name="destination_img1" class="image_upload">
            <input type="file" name="destination_img2" class="image_upload">
            <input type="file" name="destination_img3" class="image_upload">
            <label for="backdrop_upload">Backdrop:</label>
            <input type="file" name="backdrop_img" id="destination_backdrop" class="image_upload backdrop_upload">
            
        <input type="submit" value="submit" name="submit" class="create_page">
    </form>
    
    <% include ../partials/footer %>
</body>
</html>