<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head %>
</head>
<body>
    <!-- navigation -->
    <header>
        <nav id="navbar">
            <a href="/"><img src="../images/logo.png" alt="Tri logo" class="logo"></a>      
                    
            <ul class="nav_links">
                <li><a href="/destination/?id=5b119e9d27f6023534bab4ae">kyoto</a></li>
                <li><a href="/destination/?id=5b119e9d27f6023534bab4ae">beijing</a></li>
                <li><a href="/destination/?id=5b11a7de27f6023534bab4b0">seoul</a></li>
                <li><a href="/newsletter">newsletter</a></li>
            </ul>

            <p class="login">
                <a href="/create">new destination</a>
            </p>
        </nav>
    </header>
        
    <!-- newsletter body -->
    <div id="newsletter_form">
        <div>  <h2 id="title">To receive our newsletter, please submit your name and email address.</h2></div>
                
        <form action="/newsletter" method="post" enctype="multipart/form-data">
            <p><input type="text" name="signup_name" id="signup_name" placeholder="yourname" required></p>
            <p><input type="email" name="signup_email" id="signup_email" placeholder="example@emailaddress.com" required></p>
            <p><input type="submit" value="submit" id="newsletter_submit"></p>       
        </form>

    </div>
            
    <% include ../partials/footer %>
    
</body>
</html>