<!-- views/partials/head.ejs -->
    <meta charset="utf-8">
    <title><%= title %></title>
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <link rel="stylesheet" href="owl_carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="owl_carousel/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Caveat|Roboto:400,700,700i" rel="stylesheet">