<!-- views/partials/header.ejs -->
    <nav id="navbar">
        <a href="index.html"><img src="../../public/images/logo.png" alt="Tri logo" class="logo"></a>      
                
        <ul class="nav_links">
            <li><a href="destination.html">kyoto</a></li>
            <li><a href="destination.html">beijing</a></li>
            <li><a href="destination.html">seoul</a></li>
            <li><a href="newsletter.html">newsletter</a></li>
        </ul>

        <form action="" class="login">
                <label for="admin">Admin</label>
                <input type="text" name="username" value="" placeholder="username" required>
                <input type="text" name="password" value="" placeholder="password" required>
                <input type="submit" name="submit">
        </form>

        
        
        <a href="create.html">create</a>
        <a href="destination.html">destination</a>
                        
    </nav>
